---
layout: page
permalink: /topics/
title: Topics
---

<p>In this section you can find the main list of articles organized by categories.</p>
<p>In addition to this list, you can find more Drupal / PHP related content on my main website: </p>
<p><a href="https://www.therussianlullaby.com">www.therussianlullaby.com</a></p>
<strong>Author</strong>
<hr>
<ul>
  <li>Twitter: <a href="https://twitter.com/davidjguru">@davidjguru</a></li>
  <li>Contact at: <a href="mailto:davidjguru@gmail.com">davidjguru@gmail.com</a></li>
  <li>Website: <a href="https://www.therussianlullaby.com">www.therussianlullaby.com</a></li>
  <li>Drupal.org: <a href="https://www.drupal.org/u/davidjguru">drupal.org/u/davidjguru</a></li>
  <li>Linkedin: <a href="https://www.linkedin.com/in/davidjguru">linkedin.com/davidjguru</a></li>
  <li>Sketchbook: <a href="https://davidjguru.github.io">davidjguru.github.io</a></li>
  <li>Medium (Spanish): <a href="https://medium.com/@davidjguru">medium.com/@davidjguru</a></li>
  <li>Gitlab Snippets: <a href="https://gitlab.com/users/davidjguru/snippets">gitlab.com/davidjguru/snippets</a></li>
  <li>Github Gist: <a href="https://gist.github.com/davidjguru">gist.github.com/davidjguru</a></li>
  <li>Dev.to: <a href="https://dev.to/davidjguru">dev.to/davidjguru</a></li>
</ul>
<hr>
<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
	    <p><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a> - ({{ post.date | date_to_long_string }}) </p>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
