---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald';
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 35px;
  a {
    color: inherit;
    font-size: 24px;
    font-family: 'Permanent Marker';
    text-shadow: 1px 2px 1px rgb(11, 10, 10);

     @include mobile2 {
      color: inherit;
      font-size: 24px;
      font-family: 'Oswad';
      text-shadow: 1px 2px 1px rgb(11, 10, 10);
      text-transform: uppercase;
      word-wrap: normal;
      text-align: center;
    }
  }
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
  font-size: 14px;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  //margin-bottom: 50px;
}

.masthead {
  position: relative;
  border-bottom: 1px solid $lightGray;
  padding: 8px;
  height: 300px;
  width: 100%;
  border-radius: 0 0 85% 85% / 30%;

  @include mobile {
    text-align: center;
  }
}

.masthead::after {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   background: linear-gradient(rgba(203, 32, 4, 0.5), rgba(22, 48, 248, 0.29)), url('https://gitlab.com/davidjguru/master-javascript/raw/master/HTML_Folder/WEB/images/davidjguru_github_io_header_image_van.png');
  opacity: 0.7;
  border-radius: 0 0 85% 85% / 30%;
  box-shadow: 6px 6px 4px rgba(11, 10, 10, 0.7);
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: #f6f3f3;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 39px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0px rgba(11, 10, 10, 0.7);
}

.site-name-link {
    margin: 0;
    color: #f6f3f3;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 39px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0px rgba(11, 10, 10, 0.7);
}

.site-description {
  margin: -5px 0 0 0;
  color: #f6f3f3;
  font-size: 22px;
  font-family: 'Cardo', serif;
  text-shadow: 1px 1px 1px rgba(11, 10, 10, 0.6);

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: -63px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 21px;
  color: #f6f3f3;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 10px;
    color: #f6f3f3;
    text-align: right;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: underline;
    font-family: 'Cardo', serif;
    text-shadow: 1px 1px 1px rgba(11, 10, 10, 0.6);

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

// Search Bar Block
#lookingfor {
  position: absolute;
  height: 50px;
  width: 300px;
  margin-left: 170px;
  top: 27%;
  left: 67%;
  transform: translate(-50%, -50%);

  @include mobile {
    top: 62%;
    left: 11%;
    width: fit-content;
    margin-top: -28px;;
  }
}

#lookingfor.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

input {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
  padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
  padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search {
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 4px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 17px;
  margin-left: 13px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.close:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: #fff;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 50px;
  border: 4px solid #ffffff;
  border-radius: 0;
  background: none;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
  padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
  padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);

  @include mobile {
    width: 184px;
    height: 35px;
  }
}


//
// .main
//

.entry-me p img {
  max-width: 100%;
  float: left;
  padding: 11px;
}

.posts {
    padding-top: 5px;
}

.posts > .post {
  padding-bottom: 2em;
  padding-top: 2em;
  border-bottom: 1px solid $lightGray;
}

.post h4 {
    font-family: 'Cardo', serif;
    text-align: center;
}

.posts > .post table thead tr th {
    position: relative;
    padding: 0;
    margin: 0;
}

.posts > .post table thead tr th img {
    display: block;
    border-radius: 65px;
    max-width: 100%;
    height: auto;
    box-shadow: 6px 6px 4px rgba(11, 10, 10, 0.7);
    opacity: 0.7;
}

.posts > .post table thead tr th::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(14, 13, 13, 0.9) 100%) repeat 0 0;
    border-radius: 65px;
    z-index: 1;
}

.post-categories > p {
   color: chocolate;
   font-family: 'Cardo', serif;
}
.posts > .post h1{
   z-index: 2;
   position: absolute;
   padding-top: 492px;
   color: white;
   font-size: 0px;
   width: 720px;
   text-align: center;

@include mobile2 {
    z-index: 2;
    position: absolute;
    padding-top: 110px;
    color: white;
    width: 300px;
    text-align: center;
  }
}


.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  padding-top: 5px;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}


.archive-item > p {
font-family: 'Cardo', serif;
}
.archive-item > p > a {
font-size: 20px;
font-family: 'Oswald';
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// CSS Styling for tables used in Books reviews.

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}
.header_books_table {
  background-color: #22750a;
  text-align: left;
  color:white;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
