---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <h4>Written on {{ page.date | date: "%B %e, %Y" }}</h4>
  <div class="post-categories">
    {% if post %}
      {% assign categories = post.categories %}
      {% assign title = post.title %}
    {% else %}
      {% assign categories = page.categories %}
      {% assign title = page.title %}
    {% endif %}
    {% for category in categories %}
    {% assign segment = category %}
    <p>Category: <a href="{{site.baseurl}}/topics/#{{category|slugize}}">{{category}}</a></p>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  </div>
  <div class="entry">
    {{ content }}
  </div>
  <hr>
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <hr>
  <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
  <div class="LI-profile-badge" data-version="v1" data-size="large"
    data-locale="en_US" data-type="horizontal" data-theme="light"
    data-vanity="davidjguru"><a class="LI-simple-link"
      href='https://es.linkedin.com/in/davidjguru/en-us?trk=profile-badge'>David
      Rodríguez - (davidjguru)</a></div>
  <hr>
  <div class="related-articles">
    <h2>Related content: {{segment}}</h2>
     {% for post in site.categories[segment] %}
     {% unless title == post.title %}
      <article class="archive-item">
	    <p><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a> - ({{ post.date | date_to_long_string }}) </p>
      </article>
      {% endunless %}
     {% endfor %}
</div>
<hr>
  {% include disqus.html %}
</article>
